<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <%- include('./partials/header') %>
  <div class="content">
    <div class="books-container">
      <h1>Search Results for "<%- searchTerm %>"</h1>
      <% results.forEach(book => { %>
        <div class="book-card">
          <img src="<%= book.image_url %>" alt="<%= book.title %>">
          <div class="book-details">
            <h2><%= book.title %></h2>
            <h2><%= book.author %></h2>
            <p><%= book.description %></p>
            <p>Published: <%= book.publish_date %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>